[Unit]
Description=MP Service for HE

[Service]
Type=simple
User=root
WorkingDirectory=/IE-ACHE/Cloud
ExecStart=/usr/bin/python3 /IE-ACHE/Cloud/cloud_dynamic.py

[Install]
WantedBy=multi-user.target
